BasedOnStyle: Google

Language: Cpp

# "int& foo"
DerivePointerAlignment: false
PointerAlignment: Left

# const int instead of int const
QualifierAlignment: Left
ReferenceAlignment: Left

ColumnLimit: 120
IndentWidth: 4
AllowShortFunctionsOnASingleLine: Empty
IncludeBlocks: Regroup
AlignTrailingComments: true